* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #FFFF3B;
  height: 150px;
  margin-top: 15px;
}

.colonna-sinistra {
  background-color: #CC87DA;
  width: 30%;
  height: 250px;
  float: left;
}

.colonna-centrale {
  background-color: #730671;
  width: 45%;
  height: 350px;
  float: left;
}

.colonna-destra {
  width: 25%;
  float: left;
}

.colonna-destra .widget {
  background-color: #CC87DA;
  height: 160px;
}

.widget:nth-child(2) {
  margin-top: 10px;
}
