* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #FFFF3B;
  height: 150px;
  margin-top: 15px;
}

.colonna-sinistra {
  background-color: #CC87DA;
  width: 30%;
  height: 250px;
}

.colonna-centrale {
  background-color: #730671;
  width: 45%;
  height: 300px;
}
